/*******************************
         Site Overrides
*******************************/

.ui.menu .active.item {
    background: @black;
}

.ui.menu {
    background: @black;
}
.ui.vertical.menu > .item:first-child {
    margin-top: 30px;
}

.ui.inverted.menu {
    border-right: 1px solid @white;
}
