
@primaryColor: #000000;
@secondaryColor: white;
@decorateColor: #dfce86;
@greyColorDark: rgba(35, 35, 35, 0.54);
@greyColorLight: rgba(193, 193, 193, 0.83);

@navBarHeight: 50px;
@contentHeight: calc(~"100vh - @{navBarHeight}");
@marginTop:  40vh;
@normalFontSize: 17px;
@largeFontSize: 30px;
@loginWidth: 300px;
@tableHeight:  calc(~"100vh * .5");
@arrowAnimationSize: 30px;
